.blog{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.blog-cont{
    width: 90%;
}
.blog-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.blog-txt{
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog-txt p{
    text-decoration: underline;
}
.arrows{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.blog-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}